@tailwind base;
@tailwind components;
@tailwind utilities;
.logo-container {
  animation: moveUpDown 1.5s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
